<div class="list_film">
<div class="row">
                <h2>List Film</h2>
				<form ng-submit="find()">
				<table class="table table-striped">
                    <tbody>
                        <tr>
                            <td><input name="find" class="form-control" ng-model="finder.value"/></td>
                            <td class="width-200"><input type="submit" class="btn btn-success width-100" value="Find"/></td>
                        </tr>
                    </tbody>
                </table>
				</form>
				<hr>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Times</th>
                            <th>View</th>
							<th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Văn Cường</td>
                            <td>Nam</td>
                            <td>thehalftheart@mail.com</td>
                            <td>192 Hầm tử</td>
							<td class="width-200">
							<input type="button" class="btn btn-success" value="Edit"/>
							<input type="button" class="btn btn-warning" value="Delete"/>
							</td>
                        </tr>
						<tr>
                            <td>1</td>
                            <td>Văn Cường</td>
                            <td>Nam</td>
                            <td>thehalftheart@mail.com</td>
                            <td>192 Hầm tử</td>
							<td class="width-200">
							<input type="button" class="btn btn-success" value="Edit"/>
							<input type="button" class="btn btn-warning" value="Delete"/>
							</td>
                        </tr>
						<tr>
                            <td>1</td>
                            <td>Văn Cường</td>
                            <td>Nam</td>
                            <td>thehalftheart@mail.com</td>
                            <td>192 Hầm tử</td>
							<td class="width-200">
							<input type="button" class="btn btn-success" value="Edit"/>
							<input type="button" class="btn btn-warning" value="Delete"/>
							</td>
                        </tr>
                    </tbody>
                </table>
            </div>
</div>